.destination-container{
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}

.desti-form-container{    
    width: 20rem;
    margin-top: 0px;
    margin: auto;
}
.desti-form{
    border:1px solid lightgrey;
    border-radius: 1rem;
    background-color: rgb(245, 241, 241);
}
.desti-form input{
    display:block;
    width: 15rem;
    /* margin-top: 2rem; */
    margin: auto;
   
}


.desti-form-inside{
    width: 15rem;
    margin: 2rem auto;
}
.gmap {
    
    /* margin: 2rem; */
    /* width: 100rem; */
}