.destination-container{
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}

.desti-form-container{    
    width: 20rem;
    margin-top: 0px;
    margin: auto;
}
.desti-form{
    border:1px solid lightgrey;
    border-radius: 1rem;
    background-color: rgb(245, 241, 241);
}
.desti-form input{
    display:block;
    width: 15rem;
    /* margin-top: 2rem; */
    margin: auto;
   
}


.desti-form-inside{
    width: 15rem;
    margin: 2rem auto;
}
.gmap {
    width:50rem;
    height: 30rem;
    /* margin: 2rem; */
    /* width: 100rem; */
}
.search-result{
background-color: lightgrey;
border: 1px solid lightgrey;
border-radius: 1rem;
padding: .5rem;
}
.search-location{
background-color: lightsalmon;
border: 1px solid lightsalmon;
border-radius: 1rem;
}
#search-again{
      text-align: center;
      color: rgb(247, 39, 11);
      border-bottom: 1px solid lightslategrey;
      border-radius: 1rem;
}
#search-from-to{
    border-left: 2px solid red;
    margin-left: 1rem;
    padding-left: 1rem;
    color: white;
    font-weight: 800;
}
.search-ride{
    margin-top: 1rem;
}