.login-container{    
    width: 30rem;
    margin:3rem auto;
}
.login-form{
    border:2px solid lightgrey;
    background-color: rgb(247, 243, 243);
    border-radius: 1rem;
}
.login-form input{
    display:block;
    width: 24rem;
    /* margin-top: 2rem; */
    margin: 2rem auto;
   
}

.google-signIn{
    text-align: center;
    /* width:20rem; */
    /* margin: 3rem auto; */
    margin-top: 2rem;
    
}
.google-signIn button{
    border: 1px solid lightgrey;
    border-radius: 1rem;
    width: 30rem;
    padding: .5rem;
    
}
.form-inside{
    width: 24rem;
    margin: 2rem auto;
}
.error-info{
    border:1px solid red;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(253, 252, 251);
    text-align: center;
}